@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #0d9dfd;
}


body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #1e293b !important;
}

h2{
  font-weight: bold;
  margin-left: 10px;
}

.container {
  width: 80%; 
  max-height: 80vh;
  overflow-y: auto;
  background: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 28px 20px 30px; 
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1); 
}

.add-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-box {
  padding: 10px;
  width: calc(100% - 100px); 
  border: 1px solid #0d6efd;
  border-radius: 10px;
  margin-left: 10px;
}

.input-box:focus {
  outline: none;
  border: 2px solid #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.button-add {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #0d6efd;
  color: white;
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.button-add:hover {
  background-color: white;
  color: #0d6efd;
  border: 2px solid rgb(178, 173, 230);
}

.filter-buttons-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.filter-buttons-col {
  display: flex;
  gap: 10px;
}

.filter-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.filter-button.active {
  background-color: #0d6efd;
  color: white;
}

.clear-button-col {
  display: flex;
  justify-content: flex-end;
}

.button-clear {
  background-color: #0d6efd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #4A90E2; 
  border-radius: 8px;
  background-color: white;
  font-weight: bold; 
  font-size: 25px;
}

.todo-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 두 줄로 제한 */
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  margin-right: 10px;
  max-height: 3.6em; 
}

.todo-content input[type="text"] {
  flex-grow: 1;
  font-size: 25px;
  padding: 5px;
  border: 1px solid lightblue;
  border-radius: 4px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 두 줄로 제한 */
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.6em; /* 두 줄 높이 설정 (1.8em * 2) */
  width: 100%; /* 줄 바꿈을 적용하기 위해 너비를 설정 */
  word-wrap: break-word; 
}

.todo-checkbox {
  width: 20px; 
  height: 20px;
  margin-right: 20px;
  accent-color: #0d6efd; 
}

.todo-task{
  width: 80%;
}

.todo-task:focus {
  outline: none;
  border: 2px solid #4A90E2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.dropdown-container {
  margin-left: 20px; 
}

.todo-dropdown {
  background-color: #0d6efd; 
}

.completed {
  text-decoration: line-through;
  background-color: gainsboro;
  color: gray;  
}

.button-add:hover {
  background-color: white;
  color: #0d6efd;
  border: 2px solid #0d6efd;
}

.button-delete {
  background-color: white;
  border: 2px solid #0d6efd;
  color: #0d6efd;
  margin: 10px;
}

.button-delete:hover {
  background-color: #0d6efd;
  color: #ffffff;
}

.item-complete {
  background-color: gainsboro;
  color: white;
}

@media (max-width: 786px){
  .container {
    width: 90% !important;
    margin: 20px auto;
    padding: 20px;
  }

}


@media (max-width: 468px){
  .container {
    width: 90% !important;
    margin: 20px auto;
    padding: 20px;
  }

  .input-box {
    width: 80%;
    margin: 0 0 10px 0;
  }

  .filter-buttons-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .filter-buttons-col, .clear-button-col {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .filter-button, .button-clear {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  .todo-item {
    padding: 15px;
    font-size: 20px;
  }

  .todo-content {
    width: 100%;
    margin-bottom: 10px;
  }

  .dropdown-container {
    width: 100%;
    text-align: center;
  }

}

.login-box{
  width: 80%; 
  max-height: 80vh;
  overflow-y: auto;
  background: #fff;
  margin: auto; 
  padding: 28px 20px 30px;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.error-message {
  color: red;  
  margin-bottom: 5px;
}

.navbar {
  display: flex;
  width: 80%; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  top: 50px;  
  border-radius: 7px;  
  align-items: center;
  padding: 15px 20px;
  background-color: white;
  color: #0d6efd;
 
}

.navbar-home{
  margin-left: 20px;
}

.navbar-buttons{
  margin-right: 10px;
  
}

a{
  text-decoration: none !important;
}

.navbar-logout{
  background-color: white;
  border: none;
}

.button-primary{
  margin-right: 5px;
}
